<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bfe4b08d-4f82-4116-943c-48d5a09edfd7" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "Container",
      "key": "912ea475-493d-42b4-92ec-59169874f237"
    },
    {
      "name": "Content",
      "key": "942710aa-f2f4-458e-a143-24f2c0a50ced"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "977d6ec4-90ff-4326-a38e-851778beabc2",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "100d87b8-c1d6-4444-bee2-662750526512",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "912ea475-493d-42b4-92ec-59169874f237"
    },
    {
      "contentElementTypeKey": "96f74cd5-c418-44c9-896d-83c9a41f064d",
      "allowAtRoot": true,
      "groupKey": "912ea475-493d-42b4-92ec-59169874f237",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "cd03e94f-de9b-41d5-9b07-0c2bb9c99238",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "61977aef-d93c-45db-94c3-306d6ad4a25c",
      "allowAtRoot": false,
      "groupKey": "912ea475-493d-42b4-92ec-59169874f237",
      "label": "container",
      "areas": [
        {
          "key": "9ec8b7fb-edf1-4531-939d-87dccf55da89",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e9e4b5dd-8f70-4d8b-afec-c8303b73566e",
      "allowAtRoot": false,
      "groupKey": "912ea475-493d-42b4-92ec-59169874f237",
      "label": "dynamic container",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "ee2b724b-eb4e-4196-869f-c63a564f46b7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "2f8d3cea-64c7-4ae1-b6b4-d4daaf60cbf7",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "image",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "578b23c4-b48e-470c-96a5-4a86f037d344",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "02bb3d5d-91f9-42c8-8885-3f4d1894c5ed",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d73043b4-6a64-4a52-8351-7f4cbdfbfc8b",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "quote",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b27de587-2986-4b66-bae8-09d963c56e22",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "richText",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "8509deb4-164d-4cac-b264-180a589ff3eb",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "buttonLink",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b41ac0b8-58c0-4dc0-82f9-0e19750a37c3",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "Heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "dff9c28d-b85b-4d5c-b4e2-a5403ebe38d1",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "Heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b1eb6a26-c031-41b0-897a-5f74850047b7",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "Heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0f12b138-190d-4e82-a375-161cb77dfb57",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "Heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "beaeb212-53f0-4fd0-9154-ab0182cf4d79",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "Heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9cf266a6-6d1b-4ba0-8108-3371bafab989",
      "allowAtRoot": false,
      "groupKey": "942710aa-f2f4-458e-a143-24f2c0a50ced",
      "label": "Heading 6",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>