<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f9303245-927e-49f7-b741-01468cc8dff1" Alias="Section - Approved Background Color" Level="1">
  <Info>
    <Name>Section - Approved Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "171717",
      "label": "Dark"
    },
    {
      "value": "4F5955",
      "label": "Primary"
    },
    {
      "value": "6d7573",
      "label": "Primary-Light"
    },
    {
      "value": "2f3331",
      "label": "Primary-Dark"
    },
    {
      "value": "D9C3A9",
      "label": "Secondary"
    },
    {
      "value": "F2EDDC",
      "label": "Accent"
    },
    {
      "value": "F7F7F7",
      "label": "Gray"
    },
    {
      "value": "FFFFFF",
      "label": "Light"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>