@import "../../mixins/mixins-media.scss";

.projects-content {

    .container {

        @include desktop {
            padding: 50px 0;
            display: flex;
        }

        .contentleft {
            margin: 0;

            @include desktop {
                border-right: 1px solid #ECECEC;
                padding-right: 65px;
            }

            .article {
                padding: 25px 0;
                text-decoration: none;
                transition: transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }

                .fade {
                    opacity: 0;
                    transition: opacity 2s ease-in-out;
                }

                .fade.visible {
                    opacity: 1;
                }

                .fade.hidden {
                    opacity: 0;
                }

                @include desktop {
                    display: flex;
                    gap: 20px;
                    max-width: 770px;
                }

                img {
                    width: 90%;

                    @include desktop {
                        width: auto;
                    }
                }

                .fade {
                    opacity: 0;
                    transition: opacity 2s ease-in-out;
                }

                .fade.visible {
                    opacity: 1;
                }

                .fade.hidden {
                    opacity: 0;
                }

                .info {
                    padding: 0 20px;

                    @include desktop {
                        padding: 0;
                    }

                    .title {
                        font-size: 18px;
                        font-weight: 600;
                        margin: 15px 0 5px 0;

                        @include desktop {
                            font-size: 22px;
                            margin: 0;
                        }
                    }

                    .date {
                        color: #9C9EA6;
                        font-size: 14px;
                        margin: 0;

                        @include desktop {
                            margin: 0;
                        }
                    }

                    p {
                        font-size: 14px;
                        margin-bottom: 20px;
                        color: var(--color-primary)
                    }

                    h6 {
                        color: var(--color-default);
                        font-weight: 600;

                        i {
                            padding-left: 10px;
                            font-size: 0.8rem;
                        }
                    }
                }
            }

            hr {
                width: 100%;
                border: 1px solid #ECECEC;
            }

            .buttons {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin: 30px 0 80px 0;

                .link-gray {
                    font-size: 18px;
                    font-weight: 600;
                    color: #EAEAEA;
                    text-decoration: none;
                }

                .btn-menu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background-color: transparent;
                    color: var(--color-primary);
                    font-size: 18px;
                    font-weight: 600;
                }

                .link-primary {
                    font-size: 18px;
                    font-weight: 600;
                    color: var(--color-primary);
                    text-decoration: none;
                }
            }
        }

        .content-right {
            padding: 30px 0;

            @include desktop {
                padding: 20px 0 0 70px;
            }

            nav {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                @include tablet {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas: 'h4 h4' 'buttons box';
                }

                @include desktop {
                    display: block;
                }

                .tags-title {
                    grid-area: h4;
                }

                .buttons {
                    grid-area: buttons;
                    display: grid;
                    grid-template-columns: max-content max-content;
                    gap: 10px;


                    @include desktop {
                        margin-bottom: 9rem;
                    }

                    .btn-light {
                        margin-top: 10px;
                        padding: 10px 15px;
                        border-radius: 20px;
                        justify-self: start;
                        align-self: start;
                        width: auto;
                    }
                }

                .form-box {
                    grid-area: box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    border-radius: 3px;
                    max-width: 306px;
                    height: 223px;
                    padding: 30px 20px;
                    margin: 25px 0;

                    @include desktop {
                        max-width: 350px;
                    }

                    .form-title {
                        align-self: start;
                        color: var(--color-accent);
                        margin-top: 0;
                        padding-top: 20px;
                    }

                    img {
                        position: relative;
                        z-index: 0;
                        right: -20px;
                        align-self: flex-end;
                    }

                    .email-form {
                        display: flex;
                        width: 90%;
                        position: absolute;
                        bottom: 30px;

                        .email-input {
                            display: flex;
                            width: 100%;
                            position: relative;
                            padding: 20px 15px;
                            border: 1px solid var(--color-primary);
                            border-radius: 3px;

                            &::placeholder {
                                font-size: 13px;
                                color: #9C9EA6;
                                font-style: italic;
                            }
                        }

                        button {
                            position: absolute;
                            right: 15px;
                            top: 17px;
                            border: none;
                            color: var(--color-primary);
                            background-color: var(--color-light);
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}
