@import "../mixins/mixins-media.scss";

.brands {
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 20px 5px;

        @include desktop {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            padding: 50px 0;
        }

        .rotate {
            perspective: 1000px;
            transition: transform 0.6s ease-out;
            transform: rotateY(90deg);
            opacity: 0;
        }

        .rotate.rotated {
            transform: rotateY(0deg);
            opacity: 1;
            transition: transform 1.5s ease - out, opacity 0.3s ease - out;
        }
    }
}
