.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

footer {
  padding: 20px 0;
}
footer .container {
  font-size: 12px;
}
@media (min-width: 1400px) {
  footer .container {
    font-size: 14px;
  }
}
footer .container p {
  font-weight: 400;
  color: var(--color-primary);
}
footer .container a {
  color: var(--color-secondary);
  font-weight: 400;
}
