.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.header-top-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header-top-details .container {
  padding: 40px 0;
}
@media (min-width: 1400px) {
  .header-top-details .container {
    padding: 80px 0;
  }
}
.header-top-details .container .img {
  display: none;
  position: relative;
}
@media (min-width: 1400px) {
  .header-top-details .container .img {
    display: flex;
    width: auto;
  }
}
.header-top-details .container .img .left {
  position: absolute;
  bottom: -195px;
  left: -50px;
}
.header-top-details .container .img .right {
  position: absolute;
  top: -80px;
  right: -90px;
}
.header-top-details .container h2 {
  font-weight: 700;
}
.header-top-details .container .links {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
.header-top-details .container .links .gray-link {
  color: var(--color-primary);
  text-decoration: none;
}
.header-top-details .container .links p {
  color: #535656;
}
.header-top-details .container .links .secondary-link {
  text-decoration: none;
}
