<?xml version="1.0" encoding="utf-8"?>
<Content Key="88a6fa75-c87d-4e89-b67b-1dc9de1782cf" Alias="Aaron Lambert" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:28:45</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "89c8d0b9-6479-4023-902b-4ab0993c5426",
    "mediaKey": "e56d8216-6f1c-437c-9ee7-19e9c8b9f997",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </expertName>
  </Properties>
</Content>