<?xml version="1.0" encoding="utf-8"?>
<Content Key="968a287f-6d54-437a-866d-e0478dd40f3c" Alias="About" Level="2">
  <Info>
    <Parent Key="d5414cb6-7f61-4c9e-8c58-19adff7a028b">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-10T11:30:30</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="871c6800-4e05-4a35-9618-e77ea01ceb80">aboutPage</Template>
  </Info>
  <Properties>
    <aboutProjectBackgroundImageDots>
      <Value><![CDATA[[
  {
    "key": "18af7e1b-d486-4a8c-a8a4-900450fb8434",
    "mediaKey": "5dbba154-6698-47a9-a5da-bfee228db61b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImageDots>
    <aboutProjectBackgroundImagePrimary>
      <Value><![CDATA[[
  {
    "key": "7ef0a210-8c70-45b4-ba4f-f299467a31ce",
    "mediaKey": "9d51f54e-a93d-47e7-8bff-3a9caab161e7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImagePrimary>
    <aboutProjectEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutProjectEmailAddress>
    <aboutProjectEmailAddressTitle>
      <Value><![CDATA[Email Address]]></Value>
    </aboutProjectEmailAddressTitle>
    <aboutProjectImage>
      <Value><![CDATA[[
  {
    "key": "d60b72cf-951d-40c8-8845-b47ff6528264",
    "mediaKey": "79e924f3-7901-42e2-8178-333ba90b51d1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectImage>
    <aboutProjectOfficeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutProjectOfficeLocation>
    <aboutProjectOfficeLocationTitle>
      <Value><![CDATA[Office Location]]></Value>
    </aboutProjectOfficeLocationTitle>
    <aboutProjectPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutProjectPhoneNumber>
    <aboutProjectPhoneNumberTitle>
      <Value><![CDATA[Phone Number]]></Value>
    </aboutProjectPhoneNumberTitle>
    <aboutProjectTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </aboutProjectTitle>
    <aboutTinaImage>
      <Value><![CDATA[[
  {
    "key": "f37da407-5fa6-42b2-b6c0-933a53f48cda",
    "mediaKey": "54b2d948-e9e2-4900-86fc-49c1f8a8b49f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutTinaImage>
    <aboutTinaName>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutTinaName>
    <aboutTinaQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutTinaQuote>
    <aboutTinaTextFive>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.]]></Value>
    </aboutTinaTextFive>
    <aboutTinaTextFour>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </aboutTinaTextFour>
    <aboutTinaTextOne>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.]]></Value>
    </aboutTinaTextOne>
    <aboutTinaTextSeven>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutTinaTextSeven>
    <aboutTinaTextSix>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutTinaTextSix>
    <aboutTinaTextThree>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutTinaTextThree>
    <aboutTinaTextTwo>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.]]></Value>
    </aboutTinaTextTwo>
    <expertFiveImage>
      <Value><![CDATA[[
  {
    "key": "b4d7f471-e92a-471e-897e-11ca1f941a8c",
    "mediaKey": "e3c0ce8b-f4c4-4f78-a232-8d736c0a8344",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertFiveImage>
    <expertFiveName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </expertFiveName>
    <expertFiveTitle>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </expertFiveTitle>
    <expertFourImage>
      <Value><![CDATA[[
  {
    "key": "a3ae35d2-a7fd-44f5-9930-6e10438e8439",
    "mediaKey": "d260f090-bceb-4446-9c48-90e5ca8f5a61",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertFourImage>
    <expertFourName>
      <Value><![CDATA[Tina Fox]]></Value>
    </expertFourName>
    <expertFourTitle>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </expertFourTitle>
    <expertOneImage>
      <Value><![CDATA[[
  {
    "key": "883738b9-4015-4e5f-82bb-7e2c8fe50c38",
    "mediaKey": "e37b636a-d862-4dd9-b3cb-fe671f860495",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertOneImage>
    <expertOneName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </expertOneName>
    <expertOneTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertOneTitle>
    <expertSevenImage>
      <Value><![CDATA[[
  {
    "key": "742547e4-5c3a-4c86-8c86-546670766017",
    "mediaKey": "fa173033-3df5-40ed-a233-a456766751c5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertSevenImage>
    <expertSevenName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </expertSevenName>
    <expertSevenTitle>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </expertSevenTitle>
    <expertSixImage>
      <Value><![CDATA[[
  {
    "key": "9cdfe87f-eb2c-45b2-ac21-a43c760dd72a",
    "mediaKey": "937ff9bc-1ebd-4b4a-8454-5ebe6d5da490",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertSixImage>
    <expertSixName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </expertSixName>
    <expertSixTitle>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </expertSixTitle>
    <expertThreeImage>
      <Value><![CDATA[[
  {
    "key": "f6063e03-ce72-438b-80ea-f51bb5014690",
    "mediaKey": "e56d8216-6f1c-437c-9ee7-19e9c8b9f997",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertThreeImage>
    <expertThreeName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </expertThreeName>
    <expertThreeTitle>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </expertThreeTitle>
    <expertTwoImage>
      <Value><![CDATA[[
  {
    "key": "a509430d-bbbc-49af-97be-19a5500f863e",
    "mediaKey": "2db7f26c-974d-4409-88cb-8c95fb96129c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertTwoImage>
    <expertTwoName>
      <Value><![CDATA[AJ Carter]]></Value>
    </expertTwoName>
    <expertTwoTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertTwoTitle>
    <headerTopActiveLink>
      <Value><![CDATA[About]]></Value>
    </headerTopActiveLink>
    <headerTopBackgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "13168608-077d-4a45-af42-5f4502f2a43e",
    "mediaKey": "2b2655c6-0997-4a52-a40c-1001e643b347",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageLeft>
    <headerTopBackgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "9feba876-b441-45d2-9f3f-195cfa37cd39",
    "mediaKey": "1c6e771a-e317-497e-b79a-e8489fe26eaa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageRight>
    <headerTopHomeLinkText>
      <Value><![CDATA[Home]]></Value>
    </headerTopHomeLinkText>
    <headerTopHomeLinkUrl>
      <Value><![CDATA[/home]]></Value>
    </headerTopHomeLinkUrl>
    <headerTopTitle>
      <Value><![CDATA[About Us]]></Value>
    </headerTopTitle>
    <ourExpertHeading>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </ourExpertHeading>
    <ourExpertTitle>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourExpertTitle>
    <ourServiceCompany>
      <Value><![CDATA[Swebank]]></Value>
    </ourServiceCompany>
    <ourServiceHeading>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </ourServiceHeading>
    <ourServiceImage>
      <Value><![CDATA[[
  {
    "key": "bb132cae-3f04-4ef4-b57e-3ab911a9aa8f",
    "mediaKey": "3278421e-8824-498f-8c61-831582c6f818",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceImage>
    <ourServiceName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </ourServiceName>
    <ourServiceQuote>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </ourServiceQuote>
    <ourServiceTitle>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </ourServiceTitle>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[About]]></Value>
    </pageTitle>
  </Properties>
</Content>