<?xml version="1.0" encoding="utf-8"?>
<Content Key="9dbe7cee-2b10-4893-acbe-58c6e329b103" Alias="AJ Carter" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:28:02</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "96d0cec4-999c-4735-b138-9b2b2c7694e0",
    "mediaKey": "2db7f26c-974d-4409-88cb-8c95fb96129c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[AJ Carter]]></Value>
    </expertName>
  </Properties>
</Content>