<?xml version="1.0" encoding="utf-8"?>
<Content Key="44e7b91d-3beb-4e6a-92f1-5a7ee5f20484" Alias="Brandon Kerr" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:29:44</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "d6133e43-7c84-4096-ae55-b156d475dab1",
    "mediaKey": "e3c0ce8b-f4c4-4f78-a232-8d736c0a8344",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </expertName>
  </Properties>
</Content>