<?xml version="1.0" encoding="utf-8"?>
<Content Key="3bb4cad6-bfcb-42a1-9524-0f528fb4de25" Alias="Brandon Newton" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:27:21</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "bcb283d3-f5cb-4823-a8db-262e4f5f7157",
    "mediaKey": "e37b636a-d862-4dd9-b3cb-fe671f860495",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </expertName>
  </Properties>
</Content>