<?xml version="1.0" encoding="utf-8"?>
<Content Key="f8d2120c-e455-49c3-9d2c-7400d7b41ddf" Alias="Breadcrumb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Breadcrumb</Path>
    <Trashed>false</Trashed>
    <ContentType>breadcrumb</ContentType>
    <CreateDate>2024-09-19T09:17:47</CreateDate>
    <NodeName Default="Breadcrumb" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "2115d3a0-d1ef-4469-9732-efa7f332bab2",
    "mediaKey": "2b2655c6-0997-4a52-a40c-1001e643b347",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImageLeft>
    <backgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "7ebab9c9-fe95-4563-91fa-e65e010eceec",
    "mediaKey": "1c6e771a-e317-497e-b79a-e8489fe26eaa",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImageRight>
  </Properties>
</Content>