<?xml version="1.0" encoding="utf-8"?>
<Content Key="061712a3-182e-4e56-bc2b-8476551f9d3f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="d5414cb6-7f61-4c9e-8c58-19adff7a028b">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-10T16:54:10</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="88f55280-5b4b-4bfc-885d-3471ec899ceb">contactPage</Template>
  </Info>
  <Properties>
    <aboutProjectBackgroundImageDots>
      <Value><![CDATA[[
  {
    "key": "7f1a985b-43ad-4d5a-8a73-1d37c6f23996",
    "mediaKey": "5dbba154-6698-47a9-a5da-bfee228db61b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImageDots>
    <aboutProjectBackgroundImagePrimary>
      <Value><![CDATA[[
  {
    "key": "2441a769-55ce-498f-8010-61ca52085061",
    "mediaKey": "9d51f54e-a93d-47e7-8bff-3a9caab161e7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImagePrimary>
    <aboutProjectEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutProjectEmailAddress>
    <aboutProjectEmailAddressTitle>
      <Value><![CDATA[Email Address]]></Value>
    </aboutProjectEmailAddressTitle>
    <aboutProjectImage>
      <Value><![CDATA[[
  {
    "key": "5a1328b7-a54f-49f1-b0cd-4a26e52f5565",
    "mediaKey": "79e924f3-7901-42e2-8178-333ba90b51d1",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectImage>
    <aboutProjectOfficeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutProjectOfficeLocation>
    <aboutProjectOfficeLocationTitle>
      <Value><![CDATA[Office Location]]></Value>
    </aboutProjectOfficeLocationTitle>
    <aboutProjectPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutProjectPhoneNumber>
    <aboutProjectPhoneNumberTitle>
      <Value><![CDATA[Phone Number]]></Value>
    </aboutProjectPhoneNumberTitle>
    <aboutProjectTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </aboutProjectTitle>
    <brandsFive>
      <Value><![CDATA[[
  {
    "key": "fee17354-f5a4-4284-8c93-d2ec462c45c5",
    "mediaKey": "f4b1b598-51bb-42b7-8741-286a5b3d663d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsFive>
    <brandsFour>
      <Value><![CDATA[[
  {
    "key": "094538b7-833b-4942-a1e9-93f70c7870db",
    "mediaKey": "5df6b89c-a835-41f1-aab0-faaa0a90b8c8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsFour>
    <brandsOne>
      <Value><![CDATA[[
  {
    "key": "bef55ec5-6988-4b32-9e02-4d69c386d984",
    "mediaKey": "15e6f8f1-76aa-4190-8636-87dae78d44a7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsOne>
    <brandsSix>
      <Value><![CDATA[[
  {
    "key": "fa9df2be-b21a-44f9-b953-74409c66174a",
    "mediaKey": "48cdbf74-7d84-4b92-ad6f-0857eb9ba58d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsSix>
    <brandsThree>
      <Value><![CDATA[[
  {
    "key": "9ff1397d-3d8a-4b76-9ac6-c17a101726d0",
    "mediaKey": "3e23ff0b-cf76-4c16-8555-a1ee4614379b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsThree>
    <brandsTwo>
      <Value><![CDATA[[
  {
    "key": "68bbe421-8e5c-4cc8-8d4f-c89359be0c12",
    "mediaKey": "7d057268-cd1f-42ef-b359-9c21858237d3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsTwo>
    <contactInformationButtonText>
      <Value><![CDATA[Submit]]></Value>
    </contactInformationButtonText>
    <contactInformationHeading>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </contactInformationHeading>
    <contactInformationText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </contactInformationText>
    <contactInformationTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInformationTitle>
    <headerTopActiveLink>
      <Value><![CDATA[Contact]]></Value>
    </headerTopActiveLink>
    <headerTopBackgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "9e541276-8922-409a-b91a-cc47b113a7d1",
    "mediaKey": "2b2655c6-0997-4a52-a40c-1001e643b347",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageLeft>
    <headerTopBackgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "34b18c0f-c768-4a6d-83be-a42d9d4a8fb6",
    "mediaKey": "1c6e771a-e317-497e-b79a-e8489fe26eaa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageRight>
    <headerTopHomeLinkText>
      <Value><![CDATA[Home]]></Value>
    </headerTopHomeLinkText>
    <headerTopHomeLinkUrl>
      <Value><![CDATA[/]]></Value>
    </headerTopHomeLinkUrl>
    <headerTopTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </headerTopTitle>
    <mapImage>
      <Value><![CDATA[]]></Value>
    </mapImage>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>