<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d0b88b5-2a1d-4a90-abf1-8b04353daa53" Alias="Details (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Details1</Path>
    <Trashed Parent="ada98627-3c9a-4844-b329-5b8bf02a994f">true</Trashed>
    <ContentType>projectsDetailsPage</ContentType>
    <CreateDate>2024-09-10T15:47:44</CreateDate>
    <NodeName Default="Details (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4fabec83-2106-4aae-8eff-ed695e0530b0">projectsDetailsPage</Template>
  </Info>
  <Properties>
    <aboutProjectBackgroundImageDots>
      <Value><![CDATA[[
  {
    "key": "006a3f3e-a913-4b42-8d6d-a7a5ce608be2",
    "mediaKey": "5dbba154-6698-47a9-a5da-bfee228db61b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImageDots>
    <aboutProjectBackgroundImagePrimary>
      <Value><![CDATA[[
  {
    "key": "2d3a363c-84f4-4770-bf2c-7d7c6fd9ca15",
    "mediaKey": "9d51f54e-a93d-47e7-8bff-3a9caab161e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImagePrimary>
    <aboutProjectEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutProjectEmailAddress>
    <aboutProjectEmailAddressTitle>
      <Value><![CDATA[Email Address]]></Value>
    </aboutProjectEmailAddressTitle>
    <aboutProjectImage>
      <Value><![CDATA[[
  {
    "key": "d1d8f2d7-766c-4464-9991-2325cc6a88d7",
    "mediaKey": "79e924f3-7901-42e2-8178-333ba90b51d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectImage>
    <aboutProjectOfficeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutProjectOfficeLocation>
    <aboutProjectOfficeLocationTitle>
      <Value><![CDATA[Office Location]]></Value>
    </aboutProjectOfficeLocationTitle>
    <aboutProjectPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutProjectPhoneNumber>
    <aboutProjectPhoneNumberTitle>
      <Value><![CDATA[Phone Number]]></Value>
    </aboutProjectPhoneNumberTitle>
    <aboutProjectTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </aboutProjectTitle>
    <articleDate>
      <Value><![CDATA[June 15, 2024]]></Value>
    </articleDate>
    <articleHeading>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.]]></Value>
    </articleHeading>
    <articleImageOne>
      <Value><![CDATA[[
  {
    "key": "1ca355c3-f4f6-427a-b5ae-cc16c8e65db1",
    "mediaKey": "10ba49f1-5570-48a0-baf1-9123f3877526",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleImageOne>
    <contentFourTextOne>
      <Value><![CDATA[Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus. Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum]]></Value>
    </contentFourTextOne>
    <contentFourTextTwo>
      <Value><![CDATA[Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.]]></Value>
    </contentFourTextTwo>
    <contentFourTitle>
      <Value><![CDATA[Nunc facilisis ante quis gravida mollis]]></Value>
    </contentFourTitle>
    <contentOnePointOne>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.]]></Value>
    </contentOnePointOne>
    <contentOnePointThree>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </contentOnePointThree>
    <contentOnePointTwo>
      <Value><![CDATA[Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue]]></Value>
    </contentOnePointTwo>
    <contentOneTitle>
      <Value><![CDATA[Suggestions for you]]></Value>
    </contentOneTitle>
    <contentThreeImage>
      <Value><![CDATA[[
  {
    "key": "dc34519e-3879-4b2a-a771-a742c211b405",
    "mediaKey": "191bffee-efec-48e0-9620-4177b17de372",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contentThreeImage>
    <contentThreeTextOne>
      <Value><![CDATA[Cras posuere tristique urna sodales laoreet. Phasellus nibh nunc, porttitor vitae elementum eget, condimentum lobortis metus. Aenean imperdiet suscipit dui]]></Value>
    </contentThreeTextOne>
    <contentThreeTextThree>
      <Value><![CDATA[Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.]]></Value>
    </contentThreeTextThree>
    <contentThreeTextTwo>
      <Value><![CDATA[Integer quis massa sit amet diam feugiat molestie. Morbi egestas arcu eu sapien accumsan, et tempor velit viverra. Ut varius euismod malesuada. Vestibulum consectetur justo turpis. Vivamus varius purus consequat urna maximus molestie. Sed facilisis maximus quam id pretium. Donec ac orci vel quam semper tristique. Maecenas facilisis, urna sed congue pellentesque, justo augue semper nulla]]></Value>
    </contentThreeTextTwo>
    <contentThreeTitle>
      <Value><![CDATA[Nullam at blandit felis, ut efficitur lorem. Nulla pharetra turpis eget dictum condimentum]]></Value>
    </contentThreeTitle>
    <contentTwoImage>
      <Value><![CDATA[[
  {
    "key": "d0aa1115-4a56-4248-b76d-a49365cb4328",
    "mediaKey": "681cf071-734f-43fd-8755-47fe1763f810",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contentTwoImage>
    <contentTwoTextOne>
      <Value><![CDATA[Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus.]]></Value>
    </contentTwoTextOne>
    <contentTwoTextTwo>
      <Value><![CDATA[Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum]]></Value>
    </contentTwoTextTwo>
    <contentTwoTitle>
      <Value><![CDATA[Nunc facilisis ante quis gravida mollis]]></Value>
    </contentTwoTitle>
    <headerTopActiveLink>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </headerTopActiveLink>
    <headerTopBackgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "76435f5e-d59b-48c6-bef7-f065c4addf75",
    "mediaKey": "2b2655c6-0997-4a52-a40c-1001e643b347",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageLeft>
    <headerTopBackgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "d52537eb-f0c0-437a-b00b-3b81a6897301",
    "mediaKey": "1c6e771a-e317-497e-b79a-e8489fe26eaa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageRight>
    <headerTopHomeLinkText>
      <Value><![CDATA[Home]]></Value>
    </headerTopHomeLinkText>
    <headerTopHomeLinkUrl>
      <Value><![CDATA[/]]></Value>
    </headerTopHomeLinkUrl>
    <headerTopParentLinkText>
      <Value><![CDATA[Projects]]></Value>
    </headerTopParentLinkText>
    <headerTopParentLinkUrl>
      <Value><![CDATA[/projects]]></Value>
    </headerTopParentLinkUrl>
    <headerTopTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </headerTopTitle>
    <navBoxImage>
      <Value><![CDATA[[
  {
    "key": "d2301c6f-3404-4bd4-b3bf-31e932e0f677",
    "mediaKey": "ee8fffcd-cb38-4e3d-9b8c-17b9eb93e8e8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </navBoxImage>
    <navBoxText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </navBoxText>
    <navBoxTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </navBoxTitle>
    <navContentOneTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </navContentOneTitle>
    <navContentTwoTitle>
      <Value><![CDATA[Tags]]></Value>
    </navContentTwoTitle>
    <navTagEight>
      <Value><![CDATA[Pricing]]></Value>
    </navTagEight>
    <navTagFive>
      <Value><![CDATA[App]]></Value>
    </navTagFive>
    <navTagFour>
      <Value><![CDATA[Business]]></Value>
    </navTagFour>
    <navTagOne>
      <Value><![CDATA[Report]]></Value>
    </navTagOne>
    <navTagSeven>
      <Value><![CDATA[Finance]]></Value>
    </navTagSeven>
    <navTagSix>
      <Value><![CDATA[Project]]></Value>
    </navTagSix>
    <navTagThree>
      <Value><![CDATA[Insights]]></Value>
    </navTagThree>
    <navTagTwo>
      <Value><![CDATA[Busines plans]]></Value>
    </navTagTwo>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <recentProjectsFourDate>
      <Value><![CDATA[January 3, 2024]]></Value>
    </recentProjectsFourDate>
    <recentProjectsFourImage>
      <Value><![CDATA[[
  {
    "key": "c5c47bf4-cfcf-4e36-8c8e-725a7842b14d",
    "mediaKey": "6360bfc0-d5fa-4f02-99ed-9d3cfc01b1ba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsFourImage>
    <recentProjectsFourTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentProjectsFourTitle>
    <recentProjectsOneDate>
      <Value><![CDATA[June 15, 2024]]></Value>
    </recentProjectsOneDate>
    <recentProjectsOneImage>
      <Value><![CDATA[[
  {
    "key": "95c36bde-06a5-4401-8d4b-9bbbdfa0263a",
    "mediaKey": "6360bfc0-d5fa-4f02-99ed-9d3cfc01b1ba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsOneImage>
    <recentProjectsOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentProjectsOneTitle>
    <recentProjectsThreeDate>
      <Value><![CDATA[February 6, 2024]]></Value>
    </recentProjectsThreeDate>
    <recentProjectsThreeImage>
      <Value><![CDATA[[
  {
    "key": "49713c38-2bbf-4c09-adda-aaf9e1dc4033",
    "mediaKey": "6360bfc0-d5fa-4f02-99ed-9d3cfc01b1ba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsThreeImage>
    <recentProjectsThreeTitle>
      <Value><![CDATA[Financial Advisors to Irra Group Inc.]]></Value>
    </recentProjectsThreeTitle>
    <recentProjectsTwoDate>
      <Value><![CDATA[May 17, 2024]]></Value>
    </recentProjectsTwoDate>
    <recentProjectsTwoImage>
      <Value><![CDATA[[
  {
    "key": "efb7821d-c3ea-4307-8f84-921943d64f6b",
    "mediaKey": "6360bfc0-d5fa-4f02-99ed-9d3cfc01b1ba",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsTwoImage>
    <recentProjectsTwoTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentProjectsTwoTitle>
    <tagOne>
      <Value><![CDATA[Business]]></Value>
    </tagOne>
    <tagsTitle>
      <Value><![CDATA[Tags:]]></Value>
    </tagsTitle>
    <tagThree>
      <Value><![CDATA[Onatrix]]></Value>
    </tagThree>
    <tagTwo>
      <Value><![CDATA[Consulting]]></Value>
    </tagTwo>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>