<?xml version="1.0" encoding="utf-8"?>
<Content Key="73383290-426d-463d-9610-6b6019ac2f34" Alias="Details" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Details</Path>
    <Trashed Parent="be42f4c6-b42d-4ac8-9779-0ec18703ac08">true</Trashed>
    <ContentType>servicesDetailsPage</ContentType>
    <CreateDate>2024-09-10T13:53:58</CreateDate>
    <NodeName Default="Details" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4459c09b-3d7f-40ce-b4db-ba280d75eb9b">servicesDetailsPage</Template>
  </Info>
  <Properties>
    <aboutProjectBackgroundImageDots>
      <Value><![CDATA[[
  {
    "key": "2248cd76-fac1-429f-8b9a-79497a35e1d8",
    "mediaKey": "5dbba154-6698-47a9-a5da-bfee228db61b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImageDots>
    <aboutProjectBackgroundImagePrimary>
      <Value><![CDATA[[
  {
    "key": "c39af28c-45e0-49b8-b20f-826b59ab9a0c",
    "mediaKey": "9d51f54e-a93d-47e7-8bff-3a9caab161e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImagePrimary>
    <aboutProjectEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutProjectEmailAddress>
    <aboutProjectEmailAddressTitle>
      <Value><![CDATA[Email Address]]></Value>
    </aboutProjectEmailAddressTitle>
    <aboutProjectImage>
      <Value><![CDATA[[
  {
    "key": "7132711d-6ccc-4428-a35c-7e5ab236c9e6",
    "mediaKey": "79e924f3-7901-42e2-8178-333ba90b51d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectImage>
    <aboutProjectOfficeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutProjectOfficeLocation>
    <aboutProjectOfficeLocationTitle>
      <Value><![CDATA[Office Location]]></Value>
    </aboutProjectOfficeLocationTitle>
    <aboutProjectPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutProjectPhoneNumber>
    <aboutProjectPhoneNumberTitle>
      <Value><![CDATA[Phone Number]]></Value>
    </aboutProjectPhoneNumberTitle>
    <aboutProjectTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </aboutProjectTitle>
    <contentImageOne>
      <Value><![CDATA[[
  {
    "key": "32c9cb7c-8c92-45f8-9240-0f62d6997f4e",
    "mediaKey": "27f8e4d4-bb51-429e-a285-fb9e1328bdd2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contentImageOne>
    <contentTitleOne>
      <Value><![CDATA[key point]]></Value>
    </contentTitleOne>
    <formButtonText>
      <Value><![CDATA[Submit]]></Value>
    </formButtonText>
    <formTitle>
      <Value><![CDATA[Have a question ?]]></Value>
    </formTitle>
    <headerTopActiveLink>
      <Value><![CDATA[Risk Management]]></Value>
    </headerTopActiveLink>
    <headerTopBackgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "02c99d4d-292e-4f1f-8fab-a621aa8e5a52",
    "mediaKey": "2b2655c6-0997-4a52-a40c-1001e643b347",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageLeft>
    <headerTopBackgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "0f8b5f0d-2191-4c58-aadf-08f9d14bdf77",
    "mediaKey": "1c6e771a-e317-497e-b79a-e8489fe26eaa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageRight>
    <headerTopHomeLinkText>
      <Value><![CDATA[Home]]></Value>
    </headerTopHomeLinkText>
    <headerTopHomeLinkUrl>
      <Value><![CDATA[/home]]></Value>
    </headerTopHomeLinkUrl>
    <headerTopParentLinkText>
      <Value><![CDATA[Services]]></Value>
    </headerTopParentLinkText>
    <headerTopParentLinkUrl>
      <Value><![CDATA[/services]]></Value>
    </headerTopParentLinkUrl>
    <headerTopTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </headerTopTitle>
    <navBoxText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </navBoxText>
    <navBoxTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </navBoxTitle>
    <navImage>
      <Value><![CDATA[[
  {
    "key": "57787d08-6a8a-4db1-9007-33c29eda1f27",
    "mediaKey": "58609d96-b645-4cfa-b97c-f9b96a82e822",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </navImage>
    <navText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </navText>
    <navTitle>
      <Value><![CDATA[About us]]></Value>
    </navTitle>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <pointOne>
      <Value><![CDATA[Financial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.]]></Value>
    </pointOne>
    <pointThree>
      <Value><![CDATA[In hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.]]></Value>
    </pointThree>
    <pointTwo>
      <Value><![CDATA[Pellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue]]></Value>
    </pointTwo>
    <secondContentImage>
      <Value><![CDATA[[
  {
    "key": "eea233f9-0e4d-44ed-97e1-008329f1e4f4",
    "mediaKey": "da096cbe-4cfa-44e2-b222-a818735838b0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </secondContentImage>
    <secondContentPointOne>
      <Value><![CDATA[Listen closely to you and learn what you value]]></Value>
    </secondContentPointOne>
    <secondContentPointThree>
      <Value><![CDATA[Understand your feelings about managing money and investments]]></Value>
    </secondContentPointThree>
    <secondContentPointTwo>
      <Value><![CDATA[Analyze your current financial situation]]></Value>
    </secondContentPointTwo>
    <secondContentTextFive>
      <Value><![CDATA[And once you have a plan in place, you may feel more confident knowing that your advisor will stay with you over time, helping you track your progress toward your goals and making adjustments along the way when your life or dreams change.]]></Value>
    </secondContentTextFive>
    <secondContentTextFour>
      <Value><![CDATA[Then your advisor will offer personalized advice and guidance to help you reach your financial goals. Ameriprise advisors have access to a broad array of solutions to help you plan for your confident future.]]></Value>
    </secondContentTextFour>
    <secondContentTextOne>
      <Value><![CDATA[No matter where you find yourself today or see yourself in the future, a financial planning relationship with an Ameriprise financial advisor can help you find your financial balance and bring your dreams and goals more within reach.]]></Value>
    </secondContentTextOne>
    <secondContentTextThree>
      <Value><![CDATA[The financial planning process all starts with learning about you. Your advisor will take the time to:]]></Value>
    </secondContentTextThree>
    <secondContentTextTwo>
      <Value><![CDATA[Our Confident Retirement approach to financial planning begins with a one-on-one conversation. At its core is a personal relationship with an advisor dedicated to helping you reach the future you imagine, on your own terms, in a way that is convenient for you.]]></Value>
    </secondContentTextTwo>
    <secondContentTitle>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </secondContentTitle>
    <thirdContentPointFour>
      <Value><![CDATA[Leave a legacy. Legacy is about the impact you’ll make on the people, charities and causes that are important to you.]]></Value>
    </thirdContentPointFour>
    <thirdContentPointThree>
      <Value><![CDATA[Prepare for the unexpected. The unexpected are events that could derail your financial plans.]]></Value>
    </thirdContentPointThree>
    <thirdContentPointTwo>
      <Value><![CDATA[Ensure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.]]></Value>
    </thirdContentPointTwo>
    <thirdContentText>
      <Value><![CDATA[Working with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:]]></Value>
    </thirdContentText>
    <thirdContentTitle>
      <Value><![CDATA[We’ll help you achieve financial confidence]]></Value>
    </thirdContentTitle>
    <thridContentPointOne>
      <Value><![CDATA[Cover your essentials. Essentials are the monthly expenses that keep your life running.]]></Value>
    </thridContentPointOne>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>