<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5414cb6-7f61-4c9e-8c58-19adff7a028b" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-03T15:01:30</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="13299299-52e8-4072-955a-a90960b809e4">homePage</Template>
  </Info>
  <Properties>
    <aboutUsFormButtonText>
      <Value><![CDATA[Submit]]></Value>
    </aboutUsFormButtonText>
    <aboutUsFormText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat]]></Value>
    </aboutUsFormText>
    <aboutUsFormTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </aboutUsFormTitle>
    <aboutUsHeading>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutUsHeading>
    <aboutUsQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsQuote>
    <aboutUsSignatureImage>
      <Value><![CDATA[[
  {
    "key": "849a1201-b9a3-4949-9e74-988c6ea7167c",
    "mediaKey": "33314c3d-8500-4673-9910-61b25ff6e48c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsSignatureImage>
    <aboutUsSignatureName>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutUsSignatureName>
    <aboutUsText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutUsText>
    <aboutUsTitle>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutUsTitle>
    <brandsFive>
      <Value><![CDATA[[
  {
    "key": "c2d61767-df5a-446f-a8e4-2cab21f78f51",
    "mediaKey": "f4b1b598-51bb-42b7-8741-286a5b3d663d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsFive>
    <brandsFour>
      <Value><![CDATA[[
  {
    "key": "298830da-6b6d-477d-a8b7-66477d17318b",
    "mediaKey": "5df6b89c-a835-41f1-aab0-faaa0a90b8c8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsFour>
    <brandsOne>
      <Value><![CDATA[[
  {
    "key": "f9b6d187-12e7-4279-b257-b99ddf7189c3",
    "mediaKey": "15e6f8f1-76aa-4190-8636-87dae78d44a7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsOne>
    <brandsSix>
      <Value><![CDATA[[
  {
    "key": "58bcac4c-cec4-4156-a3f4-d62c74f86413",
    "mediaKey": "48cdbf74-7d84-4b92-ad6f-0857eb9ba58d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsSix>
    <brandsThree>
      <Value><![CDATA[[
  {
    "key": "e39e379d-361f-4233-a52d-22e542af52aa",
    "mediaKey": "3e23ff0b-cf76-4c16-8555-a1ee4614379b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsThree>
    <brandsTwo>
      <Value><![CDATA[[
  {
    "key": "ef53f123-9aa9-4490-9545-0a2cf07ceae7",
    "mediaKey": "7d057268-cd1f-42ef-b359-9c21858237d3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </brandsTwo>
    <cardFiveImage>
      <Value><![CDATA[[
  {
    "key": "997ab31e-b897-49fb-8923-dbec6691df6e",
    "mediaKey": "ffedc5d9-728b-464d-b023-bdcfa19c9a0c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardFiveImage>
    <cardFiveText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardFiveText>
    <cardFiveTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </cardFiveTitle>
    <cardFourImage>
      <Value><![CDATA[[
  {
    "key": "cc95a2f9-04f5-4e2d-96b5-ffc902ad27a7",
    "mediaKey": "bf19d3d8-acd8-4d02-a23d-bd2987c3830b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardFourImage>
    <cardFourText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardFourText>
    <cardFourTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </cardFourTitle>
    <cardOneImage>
      <Value><![CDATA[[
  {
    "key": "c102abda-e97c-46c5-bd48-0ff322276962",
    "mediaKey": "86389b74-4e08-4321-8d3e-46c503c1a407",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardOneImage>
    <cardOneText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardOneText>
    <cardOneTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </cardOneTitle>
    <cardSixImage>
      <Value><![CDATA[[
  {
    "key": "b1697fb7-dc54-46df-a433-99a4571996cd",
    "mediaKey": "f82e1297-043b-4a0f-bc94-172cbdc8fcc0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardSixImage>
    <cardSixText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardSixText>
    <cardSixTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </cardSixTitle>
    <cardThreeImage>
      <Value><![CDATA[[
  {
    "key": "ca7141c4-0f44-42b5-9289-472cb67e5c3b",
    "mediaKey": "57c63186-94a8-444e-a988-6e1cb5511bff",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardThreeImage>
    <cardThreeText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardThreeText>
    <cardThreeTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </cardThreeTitle>
    <cardTwoImage>
      <Value><![CDATA[[
  {
    "key": "30a94a20-00e9-4a67-8e00-70639a60abc3",
    "mediaKey": "29e97680-2744-4267-a717-72c98d3ffbf7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </cardTwoImage>
    <cardTwoText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </cardTwoText>
    <cardTwoTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </cardTwoTitle>
    <clientsBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "8dd8b4f8-9cd4-4dce-b41b-e234e38608d5",
    "mediaKey": "a994d234-8654-45b2-968a-562e95ea1fb9",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </clientsBackgroundImage>
    <clientsButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </clientsButtonText>
    <clientsImage>
      <Value><![CDATA[[
  {
    "key": "34e28184-086b-4f45-992c-9aebca344194",
    "mediaKey": "7519077e-9c72-435e-b254-771508868320",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </clientsImage>
    <clientsText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </clientsText>
    <clientsTitle>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </clientsTitle>
    <clientsTitleSpan>
      <Value><![CDATA[4.000+ clients]]></Value>
    </clientsTitleSpan>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "3d909d0a-7213-4cb7-a070-8f9d4ccae657",
    "mediaKey": "a3b6b042-6c39-47be-9059-e704bdd391ff",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
    <ourProjectsCardFourImage>
      <Value><![CDATA[[
  {
    "key": "7a771a90-25be-408e-9173-bc717c372c57",
    "mediaKey": "2fe64f01-e727-4365-a5da-219dd81692a2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCardFourImage>
    <ourProjectsCardFourText>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCardFourText>
    <ourProjectsCardFourTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </ourProjectsCardFourTitle>
    <ourProjectsCardOneImage>
      <Value><![CDATA[[
  {
    "key": "fafaadf1-24e1-437f-b286-11634d5fa31d",
    "mediaKey": "42a25319-6e1f-416f-8242-ab6dbffe5a4a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCardOneImage>
    <ourProjectsCardOneText>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCardOneText>
    <ourProjectsCardOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </ourProjectsCardOneTitle>
    <ourProjectsCardThreeImage>
      <Value><![CDATA[[
  {
    "key": "2fd3cbe7-b382-4a2e-921f-35503e6daf7f",
    "mediaKey": "83f5df28-0b69-4375-bfb4-08f6a9bdf080",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCardThreeImage>
    <ourProjectsCardThreeText>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCardThreeText>
    <ourProjectsCardThreeTitle>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </ourProjectsCardThreeTitle>
    <ourProjectsCardTwoImage>
      <Value><![CDATA[[
  {
    "key": "fab45de3-faf1-4c29-b710-1e3e801ef077",
    "mediaKey": "9e4b5bfb-515a-4547-acef-020981e08afd",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourProjectsCardTwoImage>
    <ourProjectsCardTwoText>
      <Value><![CDATA[Financial Services]]></Value>
    </ourProjectsCardTwoText>
    <ourProjectsCardTwoTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </ourProjectsCardTwoTitle>
    <ourProjectsHeading>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </ourProjectsHeading>
    <ourProjectsTitle>
      <Value><![CDATA[Recent projects]]></Value>
    </ourProjectsTitle>
    <ourServicesHeading>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServicesHeading>
    <ourServicesTitle>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </ourServicesTitle>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <storyBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "8a1ea347-ed96-4e10-8e34-724aafea0d4f",
    "mediaKey": "8887ec09-117d-43d6-b653-c0eed01872b8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyBackgroundImage>
    <storyHeading>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </storyHeading>
    <storyImage>
      <Value><![CDATA[[
  {
    "key": "e4a1212d-fad2-47fa-9a1f-3cfd04af6868",
    "mediaKey": "c9750ded-4e8d-472b-a418-7cbed0797919",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </storyImage>
    <storyOneNumber>
      <Value><![CDATA[689]]></Value>
    </storyOneNumber>
    <storyOneText>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </storyOneText>
    <storyThreeNumber>
      <Value><![CDATA[125]]></Value>
    </storyThreeNumber>
    <storyThreeText>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </storyThreeText>
    <storyTitle>
      <Value><![CDATA[Success story]]></Value>
    </storyTitle>
    <storyTwoNumber>
      <Value><![CDATA[370]]></Value>
    </storyTwoNumber>
    <storyTwoText>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </storyTwoText>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>