<?xml version="1.0" encoding="utf-8"?>
<Content Key="f585c50b-a225-4e56-8cc3-cc2ad3e3382c" Alias="Kevin Gardner" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:30:45</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "6789506c-252e-44dc-ba9b-c52bc31ae5a6",
    "mediaKey": "fa173033-3df5-40ed-a233-a456766751c5",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </expertName>
  </Properties>
</Content>