<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b4e1c45-a654-4b5c-88f9-421a02642596" Alias="Let Us Know" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LetUsKnow</Path>
    <Trashed>false</Trashed>
    <ContentType>letUsKnow</ContentType>
    <CreateDate>2024-09-19T09:34:52</CreateDate>
    <NodeName Default="Let Us Know" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundDots>
      <Value><![CDATA[[
  {
    "key": "77283576-befc-414f-8c6c-52949ab5c0f1",
    "mediaKey": "5dbba154-6698-47a9-a5da-bfee228db61b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundDots>
    <backgroundShape>
      <Value><![CDATA[[
  {
    "key": "df9d3cc0-37bc-4a15-b791-ca3de88faf54",
    "mediaKey": "9d51f54e-a93d-47e7-8bff-3a9caab161e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundShape>
    <emailTitle>
      <Value><![CDATA[Email address]]></Value>
    </emailTitle>
    <letUsKnowTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </letUsKnowTitle>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "09fa4e1b-0d81-4e45-8d1a-87eed6307243",
    "mediaKey": "79e924f3-7901-42e2-8178-333ba90b51d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <officeTitle>
      <Value><![CDATA[Office location]]></Value>
    </officeTitle>
    <phoneTitle>
      <Value><![CDATA[Phone number]]></Value>
    </phoneTitle>
  </Properties>
</Content>