<?xml version="1.0" encoding="utf-8"?>
<Content Key="ac81c7bf-3bdc-4fec-ba78-642e87d6f129" Alias="Miranda Dayton" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:30:12</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "fbe4cf3c-2269-4830-8999-b25f0e9e0386",
    "mediaKey": "937ff9bc-1ebd-4b4a-8454-5ebe6d5da490",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </expertName>
  </Properties>
</Content>