<?xml version="1.0" encoding="utf-8"?>
<Content Key="edf0b61b-8105-4bf8-8fd2-96c1ca04659f" Alias="Project Page Static Right" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ProjectPageStaticRight</Path>
    <Trashed>false</Trashed>
    <ContentType>projectPageStaticRight</ContentType>
    <CreateDate>2024-09-24T10:42:59</CreateDate>
    <NodeName Default="Project Page Static Right" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formButtonText>
      <Value><![CDATA[<i class="fa-regular fa-envelope"></i>]]></Value>
    </formButtonText>
    <formImage>
      <Value><![CDATA[[
  {
    "key": "637d5377-7368-4fe1-8a18-ed0bcb5c2a19",
    "mediaKey": "0e38b2c9-0f51-4392-980e-4401600ce31b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formImage>
    <formPlaceholderText>
      <Value><![CDATA[Email address]]></Value>
    </formPlaceholderText>
    <formText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formText>
    <formTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </formTitle>
    <tags>
      <Value><![CDATA[[
  "Report",
  "Business Plans",
  "Insights",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </tags>
    <tagsTitle>
      <Value><![CDATA[Tags]]></Value>
    </tagsTitle>
  </Properties>
</Content>