<?xml version="1.0" encoding="utf-8"?>
<Content Key="ada98627-3c9a-4844-b329-5b8bf02a994f" Alias="Projects" Level="2">
  <Info>
    <Parent Key="d5414cb6-7f61-4c9e-8c58-19adff7a028b">Home</Parent>
    <Path>/Home/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsPage</ContentType>
    <CreateDate>2024-09-10T14:58:03</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="95a86b56-8877-4212-a955-3deac4badccf">projectsPage</Template>
  </Info>
  <Properties>
    <aboutProjectBackgroundImageDots>
      <Value><![CDATA[[
  {
    "key": "d54e6127-5fd8-44a0-9c8e-c86d89f6ebc9",
    "mediaKey": "5dbba154-6698-47a9-a5da-bfee228db61b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImageDots>
    <aboutProjectBackgroundImagePrimary>
      <Value><![CDATA[[
  {
    "key": "15f352ed-5c1d-4deb-bab1-1f4ba374028f",
    "mediaKey": "9d51f54e-a93d-47e7-8bff-3a9caab161e7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectBackgroundImagePrimary>
    <aboutProjectEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutProjectEmailAddress>
    <aboutProjectEmailAddressTitle>
      <Value><![CDATA[Email Address]]></Value>
    </aboutProjectEmailAddressTitle>
    <aboutProjectImage>
      <Value><![CDATA[[
  {
    "key": "63887b60-5e84-43b1-b6f4-ff6a9278e746",
    "mediaKey": "79e924f3-7901-42e2-8178-333ba90b51d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutProjectImage>
    <aboutProjectOfficeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutProjectOfficeLocation>
    <aboutProjectOfficeLocationTitle>
      <Value><![CDATA[Office Location]]></Value>
    </aboutProjectOfficeLocationTitle>
    <aboutProjectPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutProjectPhoneNumber>
    <aboutProjectPhoneNumberTitle>
      <Value><![CDATA[Phone Number]]></Value>
    </aboutProjectPhoneNumberTitle>
    <aboutProjectTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </aboutProjectTitle>
    <articleFourDate>
      <Value><![CDATA[January 3, 2024]]></Value>
    </articleFourDate>
    <articleFourImage>
      <Value><![CDATA[[
  {
    "key": "07f2c036-ed97-4af9-a668-1e8a13fa7a2a",
    "mediaKey": "17b17b97-14ab-46c9-b286-c2d469223efb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleFourImage>
    <articleFourLinkText>
      <Value><![CDATA[Read more]]></Value>
    </articleFourLinkText>
    <articleFourLinkUrl>
      <Value><![CDATA[]]></Value>
    </articleFourLinkUrl>
    <articleFourText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </articleFourText>
    <articleFourTitle>
      <Value><![CDATA[Budget Planning for Buccura In...]]></Value>
    </articleFourTitle>
    <articleOneDate>
      <Value><![CDATA[June 15, 2024]]></Value>
    </articleOneDate>
    <articleOneImage>
      <Value><![CDATA[[
  {
    "key": "0ebb73c3-ebc2-4fc9-b5b2-a262b4ea18af",
    "mediaKey": "b9b5a38f-eccd-40ec-af89-a3d3965563c3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleOneImage>
    <articleOneLink>
      <Value><![CDATA[Read more]]></Value>
    </articleOneLink>
    <articleOneLinkUrl>
      <Value><![CDATA[]]></Value>
    </articleOneLinkUrl>
    <articleOneText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </articleOneText>
    <articleOneTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </articleOneTitle>
    <articleThreeDate>
      <Value><![CDATA[February 6, 2024]]></Value>
    </articleThreeDate>
    <articleThreeImage>
      <Value><![CDATA[[
  {
    "key": "09661575-3bd0-403b-b5a2-bf731f73942a",
    "mediaKey": "b1517ac8-2ccc-4ec0-a3af-008ff11bf999",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleThreeImage>
    <articleThreeLinkText>
      <Value><![CDATA[Read more]]></Value>
    </articleThreeLinkText>
    <articleThreeLinkUrl>
      <Value><![CDATA[]]></Value>
    </articleThreeLinkUrl>
    <articleThreeText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </articleThreeText>
    <articleThreeTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </articleThreeTitle>
    <articleTwoDate>
      <Value><![CDATA[May 17, 2024]]></Value>
    </articleTwoDate>
    <articleTwoImage>
      <Value><![CDATA[[
  {
    "key": "eab98279-0ce3-46f7-8d1a-46f22de47cde",
    "mediaKey": "47a7581b-d6ca-413d-a0e5-a835f02bb955",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </articleTwoImage>
    <articleTwoLinkText>
      <Value><![CDATA[Read more]]></Value>
    </articleTwoLinkText>
    <articleTwoLinkUrl>
      <Value><![CDATA[]]></Value>
    </articleTwoLinkUrl>
    <articleTwoText>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </articleTwoText>
    <articleTwoTitle>
      <Value><![CDATA[Business Insights for SP Group...]]></Value>
    </articleTwoTitle>
    <headerTopActiveLink>
      <Value><![CDATA[Projects]]></Value>
    </headerTopActiveLink>
    <headerTopBackgroundImageLeft>
      <Value><![CDATA[[
  {
    "key": "d6adc393-7368-4ddf-9713-a0c0c06b05a5",
    "mediaKey": "2b2655c6-0997-4a52-a40c-1001e643b347",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageLeft>
    <headerTopBackgroundImageRight>
      <Value><![CDATA[[
  {
    "key": "8e7a82f1-78ad-439a-80c9-79b4e4670bc9",
    "mediaKey": "1c6e771a-e317-497e-b79a-e8489fe26eaa",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerTopBackgroundImageRight>
    <headerTopHomeLinkText>
      <Value><![CDATA[Home]]></Value>
    </headerTopHomeLinkText>
    <headerTopHomeLinkUrl>
      <Value><![CDATA[/]]></Value>
    </headerTopHomeLinkUrl>
    <headerTopTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </headerTopTitle>
    <navBoxImage>
      <Value><![CDATA[[
  {
    "key": "ba6f52f7-928d-4f1c-a446-eafab6c7b302",
    "mediaKey": "ee8fffcd-cb38-4e3d-9b8c-17b9eb93e8e8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </navBoxImage>
    <navBoxText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </navBoxText>
    <navBoxTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </navBoxTitle>
    <navLink>
      <Value><![CDATA[Tags]]></Value>
    </navLink>
    <navTagEight>
      <Value><![CDATA[Pricing]]></Value>
    </navTagEight>
    <navTagFive>
      <Value><![CDATA[App]]></Value>
    </navTagFive>
    <navTagFour>
      <Value><![CDATA[Business]]></Value>
    </navTagFour>
    <navTagOne>
      <Value><![CDATA[Report]]></Value>
    </navTagOne>
    <navTagSeven>
      <Value><![CDATA[Finance]]></Value>
    </navTagSeven>
    <navTagSix>
      <Value><![CDATA[Project]]></Value>
    </navTagSix>
    <navTagThree>
      <Value><![CDATA[Insights]]></Value>
    </navTagThree>
    <navTagTwo>
      <Value><![CDATA[Busines plans]]></Value>
    </navTagTwo>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageTags>
      <Value><![CDATA[]]></Value>
    </pageTags>
    <pageTitle>
      <Value><![CDATA[Projects]]></Value>
    </pageTitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>