<?xml version="1.0" encoding="utf-8"?>
<Content Key="be42f4c6-b42d-4ac8-9779-0ec18703ac08" Alias="Services" Level="2">
  <Info>
    <Parent Key="d5414cb6-7f61-4c9e-8c58-19adff7a028b">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-10T13:14:30</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b56078f5-236c-4623-bc29-71b809bd65df">servicesPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Services]]></Value>
    </pageTitle>
    <solutionsTitle>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </solutionsTitle>
  </Properties>
</Content>