<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e007c3c-77cc-48ab-9d26-6d6dfc577d87" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-09-05T09:37:12</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[onatrix@domain.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[0731234567]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "cc64c8b8-d7cd-493b-9f57-f8e23acb92cc",
    "mediaKey": "6ccb1e59-7f86-47d6-b1d8-d043c9488298",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial solutions]]></Value>
    </siteTagline>
  </Properties>
</Content>