<?xml version="1.0" encoding="utf-8"?>
<Content Key="3e429152-269f-46b9-9f9a-c37e3faf4ef1" Alias="Single Service Static Left" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SingleServiceStaticLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>singleServiceStaticLeft</ContentType>
    <CreateDate>2024-09-19T10:56:15</CreateDate>
    <NodeName Default="Single Service Static Left" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <formButtonText>
      <Value><![CDATA[<i class="fa-regular fa-envelope"></i>]]></Value>
    </formButtonText>
    <formPlaceholderText>
      <Value><![CDATA[E-mail address]]></Value>
    </formPlaceholderText>
    <formText>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formText>
    <formTitle>
      <Value><![CDATA[How can we help you?]]></Value>
    </formTitle>
    <image>
      <Value><![CDATA[[
  {
    "key": "4d811362-9f7b-48da-9c7c-46f787d4508a",
    "mediaKey": "58609d96-b645-4cfa-b97c-f9b96a82e822",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <text>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </text>
    <title>
      <Value><![CDATA[About us]]></Value>
    </title>
  </Properties>
</Content>