<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a2eb4d4-c7e2-4bbb-8fea-199b6fa22550" Alias="Tina Fox" Level="3">
  <Info>
    <Parent Key="968a287f-6d54-437a-866d-e0478dd40f3c">About</Parent>
    <Path>/Home/About/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>expertCardTemplate</ContentType>
    <CreateDate>2024-09-20T09:29:12</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <expertImage>
      <Value><![CDATA[[
  {
    "key": "6bbfd405-46c9-4fc9-9ed4-dfece3847a30",
    "mediaKey": "d260f090-bceb-4446-9c48-90e5ca8f5a61",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </expertImage>
    <expertJobTitle>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </expertJobTitle>
    <expertName>
      <Value><![CDATA[Tina Fox]]></Value>
    </expertName>
  </Properties>
</Content>