.container {
  width: 100%;
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.about-tina .container {
  padding: 30px 0;
}
@media (min-width: 1400px) {
  .about-tina .container {
    display: flex;
    gap: 50px;
    padding: 6rem 2rem;
  }
}
.about-tina .container .content-left img .fade {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}
.about-tina .container .content-left img .fade.visible {
  opacity: 1;
}
.about-tina .container .content-left img .fade.hidden {
  opacity: 0;
}
.about-tina .container .content-left p {
  margin-top: 10px;
  font-size: 16px;
  font-style: italic;
}
