@import "../../mixins/mixins-media.scss";

.about-tina {

    .container {
        padding: 30px 0;

        @include desktop {
            display: flex;
            gap: 50px;
            padding: 6rem 2rem;
        }

        .content-left {

            img {

                .fade {
                    opacity: 0;
                    transition: opacity 2s ease-in-out;
                }

                .fade.visible {
                    opacity: 1;
                }

                .fade.hidden {
                    opacity: 0;
                }
            }

            p {
                margin-top: 10px;
                font-size: 16px;
                font-style: italic;
            }
        }

        .content-right {
            // .quote {
            //     font-size: 20px;
            //     font-style: italic;
            // }

            p {
            }
        }
    }
}
