@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;
 
@{
    var linkText = Model?.Content.Value<string>("linkText");
    var linkUrl = Model?.Content.Value<string>("linkUrl");
    var isExternal = Model?.Content.Value<bool>("isExternal") ?? false;
    var linkClass = isExternal ? "external-link" : "link";
}
 
@if (!string.IsNullOrEmpty(linkText) && !string.IsNullOrEmpty(linkUrl))
{
    <a href="@linkUrl" title="@linkText" class="@linkClass">@linkText</a>
}