<?xml version="1.0" encoding="utf-8"?>
<Media Key="58609d96-b645-4cfa-b97c-f9b96a82e822" Alias="aboutusnavimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutusnavimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T14:26:13</CreateDate>
    <NodeName Default="aboutusnavimage.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mqqmfos4/aboutusnavimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>