<?xml version="1.0" encoding="utf-8"?>
<Media Key="3278421e-8824-498f-8c61-831582c6f818" Alias="aboutuskevingardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aboutuskevingardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:17:37</CreateDate>
    <NodeName Default="aboutuskevingardner.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3t5nvub5/aboutuskevingardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>