<?xml version="1.0" encoding="utf-8"?>
<Media Key="54b2d948-e9e2-4900-86fc-49c1f8a8b49f" Alias="abouttinafoximage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/abouttinafoximagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T11:47:39</CreateDate>
    <NodeName Default="abouttinafoximage.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xjsbbnxz/abouttinafoximage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>