<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c6e771a-e317-497e-b79a-e8489fe26eaa" Alias="backgroundimagetopright.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgroundimagetoprightsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T10:29:09</CreateDate>
    <NodeName Default="backgroundimagetopright.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3dfmz5qm/backgroundimagetopright.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>