<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dbba154-6698-47a9-a5da-bfee228db61b" Alias="backgroundimageofaman.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgroundimageofamansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:52:52</CreateDate>
    <NodeName Default="backgroundimageofaman.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uyobtp2d/backgroundimageofaman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>