<?xml version="1.0" encoding="utf-8"?>
<Media Key="a994d234-8654-45b2-968a-562e95ea1fb9" Alias="clientsbackgroundimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/clientsbackgroundimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:45:31</CreateDate>
    <NodeName Default="clientsbackgroundimage.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yzxdms0p/clientsbackgroundimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>