<?xml version="1.0" encoding="utf-8"?>
<Media Key="7519077e-9c72-435e-b254-771508868320" Alias="clientsimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/clientsimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:45:42</CreateDate>
    <NodeName Default="clientsimage.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rs3lxf1j/clientsimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>