<?xml version="1.0" encoding="utf-8"?>
<Media Key="2db7f26c-974d-4409-88cb-8c95fb96129c" Alias="expertimage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:32:39</CreateDate>
    <NodeName Default="expertimage2.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tzhblt0w/expertimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>