<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa173033-3df5-40ed-a233-a456766751c5" Alias="expertimage7.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:33:51</CreateDate>
    <NodeName Default="expertimage7.svg" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ygglkgho/expertimage7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>