<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3c0ce8b-f4c4-4f78-a232-8d736c0a8344" Alias="expertimage5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:33:25</CreateDate>
    <NodeName Default="expertimage5.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pfzheao5/expertimage5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>