<?xml version="1.0" encoding="utf-8"?>
<Media Key="e37b636a-d862-4dd9-b3cb-fe671f860495" Alias="expertimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:32:26</CreateDate>
    <NodeName Default="expertimage1.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tdpnsalz/expertimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>