<?xml version="1.0" encoding="utf-8"?>
<Media Key="d260f090-bceb-4446-9c48-90e5ca8f5a61" Alias="expertimage4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:33:12</CreateDate>
    <NodeName Default="expertimage4.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mjgnemhq/expertimage4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>