<?xml version="1.0" encoding="utf-8"?>
<Media Key="937ff9bc-1ebd-4b4a-8454-5ebe6d5da490" Alias="expertimage6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:33:38</CreateDate>
    <NodeName Default="expertimage6.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jzcn02ng/expertimage6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>