<?xml version="1.0" encoding="utf-8"?>
<Media Key="e56d8216-6f1c-437c-9ee7-19e9c8b9f997" Alias="expertimage3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expertimage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:32:54</CreateDate>
    <NodeName Default="expertimage3.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2q5n4byh/expertimage3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>