<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e23ff0b-cf76-4c16-8555-a1ee4614379b" Alias="homebrand3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homebrand3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:38:29</CreateDate>
    <NodeName Default="homebrand3.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5fbidxdn/homebrand3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>