<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d057268-cd1f-42ef-b359-9c21858237d3" Alias="homebrand2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homebrand2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:38:15</CreateDate>
    <NodeName Default="homebrand2.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tlhlphye/homebrand2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>