<?xml version="1.0" encoding="utf-8"?>
<Media Key="48cdbf74-7d84-4b92-ad6f-0857eb9ba58d" Alias="homebrand6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homebrand6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:39:45</CreateDate>
    <NodeName Default="homebrand6.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qybg5ku5/homebrand6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>