<?xml version="1.0" encoding="utf-8"?>
<Media Key="5df6b89c-a835-41f1-aab0-faaa0a90b8c8" Alias="homebrand4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homebrand4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:39:00</CreateDate>
    <NodeName Default="homebrand4.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nycfjpzo/homebrand4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>