<?xml version="1.0" encoding="utf-8"?>
<Media Key="15e6f8f1-76aa-4190-8636-87dae78d44a7" Alias="homebrand1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/homebrand1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:38:04</CreateDate>
    <NodeName Default="homebrand1.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ancfj33r/homebrand1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>