<?xml version="1.0" encoding="utf-8"?>
<Media Key="79e924f3-7901-42e2-8178-333ba90b51d1" Alias="imageofaman.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/imageofamansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:51:26</CreateDate>
    <NodeName Default="imageofaman.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/agmfxgy0/imageofaman.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>