<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ccb1e59-7f86-47d6-b1d8-d043c9488298" Alias="logotype.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotypesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T09:35:26</CreateDate>
    <NodeName Default="logotype.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vorhtdu3/logotype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>