<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e4b5bfb-515a-4547-acef-020981e08afd" Alias="ourprojectsimage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourprojectsimage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:16:58</CreateDate>
    <NodeName Default="ourprojectsimage2.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bhtos5cb/ourprojectsimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>