<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fe64f01-e727-4365-a5da-219dd81692a2" Alias="ourprojectsimage4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourprojectsimage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:18:13</CreateDate>
    <NodeName Default="ourprojectsimage4.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4pzejtj2/ourprojectsimage4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>