<?xml version="1.0" encoding="utf-8"?>
<Media Key="42a25319-6e1f-416f-8242-ab6dbffe5a4a" Alias="ourprojectsimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourprojectsimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:16:25</CreateDate>
    <NodeName Default="ourprojectsimage1.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3pxabiae/ourprojectsimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>