<?xml version="1.0" encoding="utf-8"?>
<Media Key="83f5df28-0b69-4375-bfb4-08f6a9bdf080" Alias="ourprojectsimage3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourprojectsimage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T14:17:31</CreateDate>
    <NodeName Default="ourprojectsimage3.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jrfoyls/ourprojectsimage3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>