<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf19d3d8-acd8-4d02-a23d-bd2987c3830b" Alias="ourservicesimage4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourservicesimage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:25:28</CreateDate>
    <NodeName Default="ourservicesimage4.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjxlwxod/ourservicesimage4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>