<?xml version="1.0" encoding="utf-8"?>
<Media Key="f82e1297-043b-4a0f-bc94-172cbdc8fcc0" Alias="ourservicesimage6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourservicesimage6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:26:33</CreateDate>
    <NodeName Default="ourservicesimage6.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mwxjygra/ourservicesimage6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>