<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffedc5d9-728b-464d-b023-bdcfa19c9a0c" Alias="ourservicesimage5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourservicesimage5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:26:05</CreateDate>
    <NodeName Default="ourservicesimage5.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fn2e4hmq/ourservicesimage5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>