<?xml version="1.0" encoding="utf-8"?>
<Media Key="57c63186-94a8-444e-a988-6e1cb5511bff" Alias="ourservicesimage3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourservicesimage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:24:55</CreateDate>
    <NodeName Default="ourservicesimage3.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/osggjnnt/ourservicesimage3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>