<?xml version="1.0" encoding="utf-8"?>
<Media Key="29e97680-2744-4267-a717-72c98d3ffbf7" Alias="ourservicesimage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourservicesimage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:24:25</CreateDate>
    <NodeName Default="ourservicesimage2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/olffxs05/ourservicesimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>