<?xml version="1.0" encoding="utf-8"?>
<Media Key="86389b74-4e08-4321-8d3e-46c503c1a407" Alias="ourservicesimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ourservicesimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:23:51</CreateDate>
    <NodeName Default="ourservicesimage1.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qytjuzat/ourservicesimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>