<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d51f54e-a93d-47e7-8bff-3a9caab161e7" Alias="primarybackground.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/primarybackgroundsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T12:51:49</CreateDate>
    <NodeName Default="primarybackground.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xrepg5zg/primarybackground.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>