<?xml version="1.0" encoding="utf-8"?>
<Media Key="17b17b97-14ab-46c9-b286-c2d469223efb" Alias="projectsarticleimage4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsarticleimage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:17:40</CreateDate>
    <NodeName Default="projectsarticleimage4.svg" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxdbh3nq/projectsarticleimage4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>