<?xml version="1.0" encoding="utf-8"?>
<Media Key="681cf071-734f-43fd-8755-47fe1763f810" Alias="projectdetailsimage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectdetailsimage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T16:11:36</CreateDate>
    <NodeName Default="projectdetailsimage2.svg" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qngl3csu/projectdetailsimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>