<?xml version="1.0" encoding="utf-8"?>
<Media Key="10ba49f1-5570-48a0-baf1-9123f3877526" Alias="projectdetailsimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectdetailsimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T16:10:49</CreateDate>
    <NodeName Default="projectdetailsimage1.svg" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ap0br2tl/projectdetailsimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>