<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1517ac8-2ccc-4ec0-a3af-008ff11bf999" Alias="projectsarticleimage3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsarticleimage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:17:01</CreateDate>
    <NodeName Default="projectsarticleimage3.svg" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hldpgu4x/projectsarticleimage3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>