<?xml version="1.0" encoding="utf-8"?>
<Media Key="47a7581b-d6ca-413d-a0e5-a835f02bb955" Alias="projectsarticleimage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsarticleimage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:16:20</CreateDate>
    <NodeName Default="projectsarticleimage2.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hsbljor/projectsarticleimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>