<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e38b2c9-0f51-4392-980e-4401600ce31b" Alias="projectStaticRightImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectStaticRightImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-24T11:05:35</CreateDate>
    <NodeName Default="projectStaticRightImage.svg" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hmhjv1ck/projectstaticrightimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>