<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9b5a38f-eccd-40ec-af89-a3d3965563c3" Alias="projectsarticleimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsarticleimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:15:26</CreateDate>
    <NodeName Default="projectsarticleimage1.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pupbow4w/projectsarticleimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>