<?xml version="1.0" encoding="utf-8"?>
<Media Key="6360bfc0-d5fa-4f02-99ed-9d3cfc01b1ba" Alias="recentprojects.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/recentprojectssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T16:14:47</CreateDate>
    <NodeName Default="recentprojects.svg" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gibmfapb/recentprojects.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>