<?xml version="1.0" encoding="utf-8"?>
<Media Key="da096cbe-4cfa-44e2-b222-a818735838b0" Alias="riskmangementimage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmangementimage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T14:29:20</CreateDate>
    <NodeName Default="riskmangementimage2.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jtilwohb/riskmangementimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>