<?xml version="1.0" encoding="utf-8"?>
<Media Key="27f8e4d4-bb51-429e-a285-fb9e1328bdd2" Alias="riskmangementimage1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskmangementimage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T14:26:51</CreateDate>
    <NodeName Default="riskmangementimage1.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ezmfvrkk/riskmangementimage1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>