<?xml version="1.0" encoding="utf-8"?>
<Media Key="33314c3d-8500-4673-9910-61b25ff6e48c" Alias="Signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T12:03:40</CreateDate>
    <NodeName Default="Signature.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z5yjhui1/signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>