<?xml version="1.0" encoding="utf-8"?>
<Media Key="8887ec09-117d-43d6-b653-c0eed01872b8" Alias="storybackgroundimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/storybackgroundimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:58:16</CreateDate>
    <NodeName Default="storybackgroundimage.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5nidk0tg/storybackgroundimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>