<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9750ded-4e8d-472b-a418-7cbed0797919" Alias="storyimage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/storyimagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-06T13:58:28</CreateDate>
    <NodeName Default="storyimage.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d4ynok2w/storyimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>