<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee8fffcd-cb38-4e3d-9b8c-17b9eb93e8e8" Alias="supportboximage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/supportboximagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-10T15:20:04</CreateDate>
    <NodeName Default="supportboximage.svg" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h3bc0dbd/supportboximage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>