@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
    
}

<section class="map">
    <div class="img-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4070.4691912080716!2d18.05893067698927!3d59.32903707461418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ssv!2sse!4v1725222973459!5m2!1ssv!2sse" width="100%" height="748" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>