a {
  color: var(--color-secondary);
}
a:hover {
  color: var(--color-primary);
}

a {
  color: var(--color-secondary);
}
a:hover, a:focus, a:active {
  color: var(--color-primary);
}

.bg-dark a {
  color: var(--color-light);
}
.bg-dark a:hover, .bg-dark a:focus, .bg-dark a:active {
  color: var(--color-accent);
}

.bg-primary a {
  color: var(--color-secondary);
}
.bg-primary a:hover, .bg-primary a:focus, .bg-primary a:active {
  color: var(--color-accent);
}

.bg-secondary a {
  color: var(--color-light);
}
.bg-secondary a:hover, .bg-secondary a:focus, .bg-secondary a:active {
  color: var(--color-light);
}

.bg-accent a {
  color: var(--color-secondary);
}
.bg-accent a:hover, .bg-accent a:focus, .bg-accent a:active {
  color: var(--color-primary);
}

.bg-gray a {
  color: var(--color-secondary);
}
.bg-gray a:hover, .bg-gray a:focus, .bg-gray a:active {
  color: var(--color-primary);
}

.bg-light a {
  color: var(--color-secondary);
}
.bg-light a:hover, .bg-light a:focus, .bg-light a:active {
  color: var(--color-primary);
}
